Source: python3-caso
Section: net
Priority: extra
Maintainer: Alvaro Lopez Garcia <aloga@ifca.unican.es>
Homepage: https://github.com/IFCA/caso
Build-Depends:
 debhelper (>= 7.0.50),
 dh-python,
 python3-all,
 python3-all-dev
Standards-Version: 3.9.3
X-Python3-Version: >=3.5

Package: python3-caso
Architecture: all
Section: python
Depends:
 python3-oslo.concurrency,
 python3-oslo.config,
 python3-oslo.log,
 python3-oslo.utils,
 python3-neutronclient,
 python3-novaclient,
 python3-keystoneclient,
 python3-keystoneauth1,
 python3-glanceclient,
 python3-dateutil,
 python3-dirq,
 python3-six,
 ${python3:Depends},
 ${misc:Depends},
Recommends: apel-ssm
Provides: ${python:Provides}
Description: An OpenStack accounting extractor.
 .
 This program will extract usage records for each tenant and
 associate those records to a VO so that they can be sent to the
 EGI Accounting system.

Package: caso
Depends: python3-caso, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
