[DEFAULT]

#
# Options defined in caso.log
#

# Print debugging output (set logging level to DEBUG instead
# of default WARNING level). (boolean value)
#debug=false

# Print more verbose output (set logging level to INFO instead
# of default WARNING level). (boolean value)
#verbose=false

# Log output to standard error. (boolean value)
#use_stderr=true

# Format string to use for log messages without context.
# (string value)
#logging_default_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(message)s

# Data to append to log format when level is DEBUG. (string
# value)
#logging_debug_format_suffix=%(funcName)s %(pathname)s:%(lineno)d

# Prefix each line of exception output with this format.
# (string value)
#logging_exception_prefix="%(asctime)s.%(msecs)03d %(process)d TRACE %(name)s "

# List of logger=LEVEL pairs. (list value)
#default_log_levels=requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN

# Enables or disables publication of error events. (boolean
# value)
#publish_errors=false

# Enables or disables fatal status of deprecations. (boolean
# value)
#fatal_deprecations=false

# The name of a logging configuration file. This file is
# appended to any existing logging configuration files. For
# details about logging configuration files, see the Python
# logging module documentation. (string value)
# Deprecated group/name - [DEFAULT]/log_config
#log_config_append=<None>

# Format string for %%(asctime)s in log records. Default:
# %(default)s . (string value)
#log_date_format=%Y-%m-%d %H:%M:%S

# (Optional) Name of log file to output to. If no default is
# set, logging will go to stdout. (string value)
# Deprecated group/name - [DEFAULT]/logfile
#log_file=<None>

# (Optional) The base directory used for relative --log-file
# paths. (string value)
# Deprecated group/name - [DEFAULT]/logdir
#log_dir=<None>

# Use syslog for logging. (boolean value)
#use_syslog=false

# (Optional) Enables or disables syslog rfc5424 format for
# logging. If enabled, prefixes the MSG part of the syslog
# message with APP-NAME (RFC5424). The format without the APP-
# NAME is deprecated in I, and will be removed in J. (boolean
# value)
#use_syslog_rfc_format=false

# Syslog facility to receive log lines. (string value)
#syslog_log_facility=LOG_USER


#
# Options defined in caso.manager
#

# Extract records but do not push records to SSM. This will
# not update the last run date. (boolean value)
#dry_run=false

# Spool directory. (string value)
#spooldir=/var/spool/caso


#
# Options defined in caso.extract.manager
#

# Extract records from this date. If it is not set, extract
# records from last run. If none are set, extract records from
# the beginning of time. (string value)
#extract_from=<None>

# Which extractor to use for getting the data. Only the
# following middlewares are supported: ['ceilometer', 'nova'].
# If you do not specify anything, nova will be used. (string
# value)
#extractor=nova

# Site name as in GOCDB. (string value)
#site_name=<None>

# List of tenants to extract accounting records from. (list
# value)
#tenants=


#
# Options defined in caso.messenger
#

# List of messenger that will dispatch records. (list value)
#messengers=caso.messenger.noop.NoopMessenger


[extractor]

#
# Options defined in caso.extract.base
#

# User to authenticate as. (string value)
#user=accounting

# Password to authenticate with. (string value)
#password=

# Keystone endpoint to autenticate with. (string value)
#endpoint=

# Perform an insecure connection (i.e. do not verify the
# server's certificate. DO NOT USE IN PRODUCTION. (boolean
# value)
#insecure=false

# File containing the VO <-> tenant mapping as used in
# Keystone-VOMS. (string value)
#mapping_file=/etc/caso/voms.json


[logstash]

#
# Options defined in caso.messenger.logstash
#

# Logstash host to send records to. (string value)
#host=localhost

# Logstash server port. (integer value)
#port=5000


[ssm]

#
# Options defined in caso.messenger.ssm
#

# Directory to put the generated SSM records. (string value)
#output_path=/var/spool/apel/outgoing/openstack


